* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    width: 100%;
    height: 160px;
    object-fit: cover;
    display: block;
}

.thanh_dieu_huong {
    background: #222;
    padding: 10px;
}

.home-img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}
