* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    width: 100%;
    height: 160px;
    object-fit: cover;
    display: block;
}

.thanh_dieu_huong {
    background: #605F5E;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;

}

.thanh_dieu_huong a {
    color: #FF7F7F;
    text-decoration: none;
    margin-left: 15px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.home-img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.noidung {
    padding: 20px;
}

.thanh_dieu_huong a:hover {
    text-decoration: underline;
}

.spacer {
    flex: 1;
}