html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tạo thanh điều hướng */

.thanh_dieu_huong {
    background: #bf2038;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
}

.thanh_dieu_huong a:hover {
    text-decoration: underline;
}

.home-img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.muc_dieu_huong {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.muc_dieu_huong a {
    color: #f0d280;
    text-decoration: none;
    margin-left: 15px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.muc_dieu_huong a:hover {
    color: #00ccff;
}

/* Tạo background cho trang chủ */

.background_trang_chu {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: url("background_tet.jpg") center center no-repeat;
    background-size: cover;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.background_trang_chu::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;    
    background: url("background.jpg") center center no-repeat;
    background-size: cover;
    z-index: 1;
}

.lop_mo {
    position: absolute;
    inset: 0;
    backdrop-filter: blur(8px);
    background: rgba(0,0,0,0.25);
    z-index: 1;
}


.background_trang_chu h1 {
    position: relative;
    z-index: 2;
    color: #f0d280;
    font-size: 48px;
    text-shadow: 2px 2px 6px black;
}

.hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
}
/* Tạo nút chuyển xuống*/
.nut_chuyen_phan_duoi_xuong {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 30px;
    background: rgba(0,0,0,0.6);
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-size: 18px;
    transition: 0.3s;
}

.nut_chuyen_phan_duoi_xuong:hover {
    background: rgba(0,0,0,0.85);
}

.noidung {
    padding: 20px;
}