* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background: #f0f0f0;
    text-align: center;
}

.banner {
    width: 100%;
    height: 160px;
    object-fit: cover;
    display: block;
}

.navbar {
    background: #222;
    padding: 10px;
}

.navbar a {
    display: inline-block;
    margin: 5px;
    padding: 8px 15px;
    background: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.navbar a:hover {
    background: #388E3C;
}

.home-img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.search-box {
    padding: 8px;
    width: 200px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}

.menu, .box {
    background: white;
    width: 300px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
}

.select-box {
    padding: 8px;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
}
